.companiesWrap {
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex:1;
}
.companyItem{
    border: 1px solid black;
    width: 70%;
    gap: 50px;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
   
}


