.wizPhase{
    & > p{
        margin-top: 30px;
    }
    color: #2C3639;
}
.bold{
    font-weight: 600;
}
.wiz2ndDiv {
    margin-top: 30px;
    & p{ 
        padding-top: 30px;
    }
    & p:first-of-type{
        border-top: 1px solid #2C3639;
    }
    & span{
        font-weight: 600;
    }
}
