.landingMain {
    flex:1;
  display: flex;
  flex-direction: column;
  background-color: #b6ad90;
 
}
.titleDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 5%;
  color: #2C3639;
  & button:last-of-type{
    visibility: hidden;
    background-color: transparent;
    cursor: pointer;
    &.visible{
      visibility: visible;
    }
  }
}
.message3{
  text-align: center;
  background-color: #2C3639;
  color:#b6ad90;
}