.backButton{
    & a{
    color: #DCD7C9;
}
}


.backButton > button {
    padding: 5px;
    width: 55px;
    border-radius: 10px;
    background-color: #A27B5C;
    color: #DCD7C9;
    cursor: pointer;
}

.backButton button:hover {
    scale: 1.05;
}
