.candidatesWrap {
    width: 100%;
    background-color: #DCD7C9;
    padding: 50px;
    
    flex: 1;
    & table{
        border-collapse: collapse;
    }
    & th{
        font-weight: 500;
    }
    & tr, th, td{
    color: #2C3639;
    border: 1px solid #2C3639;
    padding: 5px;
    // & td:first-of-type{
    //     border: none;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
    
}
}
