.wizButton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding-block: 50px;
    & button{
        padding: 10px;
        border-radius: 10px;
        background-color: green;
        cursor: pointer;
    &:first-of-type{
        background-color: red;
    }
    &:nth-of-type(2){
        background-color: yellow;
    }
    }    
}

