.wizCompanies{
    display: flex;
    flex-direction: column;
}
.wizCompanyItem{
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    &:hover{
        background-color: #A27B5C;
        color: #DCD7C9;
        padding: 5px;
    }
    &.active{
        padding: 5px;
        background-color: #3F4E4F;
        color: #DCD7C9;
    }
}
