.logInPage {
  height: 100vh;
  width: 100%;
  display: grid;
  text-align: center;
  justify-content: center;
  flex-direction:inherit;
  align-items: center;
  gap: 20%;
  background: linear-gradient(-45deg, #006d77, #4a4e69, #588157, #52796f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: #2C3639;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // background-color: #DCD7C9;
    padding: 20px;
    border-radius: 10px;
  }
  & button {
    margin: 0 auto;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    background-color: #A27B5C;
    color: #DCD7C9;
    cursor: pointer;
  }
  & input {
    border: 1px solid #2C3639;
    padding: 2px;
  }
}
.hello-div{
  justify-content: center;
  display: flex;
  order: 1;
  color: whitesmoke;
  // background: linear-gradient(45deg, #31572c, #3bceac, #A27B5C, #4f772d);
  // background-size: 400% 400%;
  // animation: gradient 6s ease infinite;
  & div{
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    align-items: center;

    & span{
      font-size: 1.6em;
    }
  }
}

.message {
  display: inline;
  color: whitesmoke;
}

.log-in-div{
  order: 3;
  color: whitesmoke;
  // background: linear-gradient(45deg, #31572c, #3bceac, #A27B5C, #4f772d);
  // background-size: 400% 400%;
  // animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
