.reportTable {
    padding: 3px;
    width: 75%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

table, th, td {
    border: 1.5px solid #8d99ae;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even) {
    background-color: Lightgreen;
}