.interestingButton{
    border-radius: 25px;
    height: 22px;
    width:22px;
    margin-left: 3px;
    margin-top: 2px;
    background-image: url("starr.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
    border: 1.5px solid tomato;
}

.interestingButton > png {
    width: 15px;
    height: 15px;
}