.reportsWrap {
    width: 100%;
    background-color: #DCD7C9;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
    border-collapse: collapse;
    & th{
        font-weight: 500;
    }
    & tr, th, td{
    color: #2C3639;
    border: 1px solid #2C3639;
    padding: 5px;
}
}

