.candidateProfilePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.personDiv {
  flex: 1;
  display: flex;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  position: relative;
  & > button {
    position: absolute;
    top: 50px;
    right: 70px;
  }
}

.personDiv > img {
  width: 30%;
  height: 30%;
  padding: 20px;
  margin-top: 100px;
}
