.candidateProfilePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #2C3639;
}

.personDiv {
  flex: 1;
  display: flex;
  gap: 60px;
  margin: 30px auto;
  width: 80%;
  position: relative;
  align-items: center;
  & > button {
    position: absolute;
    top: 50px;
    right: 70px;
    padding: 5px;
    border-radius: 10px;
    background-color: #2C3639;
    cursor: pointer;
    & a{
      color: #DCD7C9;
    }
  }
}

.personDiv > img {
  width: 30%;
  height: 30%;
  padding: 20px;
}
