.candidateProfilePage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #2C3639;
  background-color: #b6ad90;
}

.personDiv {
  flex: 1;
  display: flex;
  gap: 60px;
  margin: 30px auto;
  width: 80%;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  
  & > button {
    position: absolute;
    top: 50px;
    right: 70px;
    padding: 5px;
    border-radius: 10px;
    background-color: #2C3639;
    cursor: pointer;
    & a{
      color: #DCD7C9;
    }
  }
}

.personDiv > img {
  width: 34%;
  height: 34%;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #31572c;
  border-radius: 25px;
  box-shadow: 0 0 10px #31572c;
}
