.progressBar {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.phase {
  height: 12px;
  width: 28px;
  border: none;
  background-color: beige;
  &:first-of-type{
    border-radius: 3px 0 0 3px;
  }
  &:last-of-type{
    border-radius: 0 3px 3px 0;
  }
}

.green{
  background-color: green;
}
.red{
  background-color: red;
}
